<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>不用指令且不emit</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app">
        <my-list :count="5"></my-list>
    </div>

</body>

<script>
    const App= Vue.createApp({})

    const listCom = {
        props: {
            count: Number
        },

        data() {
            return {
                obj: {
                    index: 0
                }
            }
        },

        provide() {
            return {
                indexObj: this.obj
            }
        },

        template: `
            <p>{{obj.index}}</p>
            <div style="border: red solid 10px;">
                <my-item v-for="i in count"></my-item> 
            </div>
        `
        // v-for="i in count" my-item里的
    }

    const itemCom = {

        inject: ['indexObj'],

        data() {
            return {
                index: this.indexObj.index
            }
        },

        template: `
            <div style="border: blue solid 10px;">
                {{index}}
                <my-label></my-label>
            </div>
        `,

        beforeMount() {  
            this.indexObj.index ++   
        }
    }

    const labelCom = {
        
        inject: ['indexObj'],

        template: `
            <div @click="test.index ++">{{index}}/{{test.index}}-{{indexObj.index}}</div>
        `,
        
        data() {
            return {
                index: this.indexObj.index, 
                test: this.indexObj 
            }
        },
    }


    App.component('my-list', listCom)
    App.component('my-item', itemCom)
    App.component('my-label', labelCom)
    App.mount('#app')

</script>

</html>