<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app">
        <input type="checkbox" v-model="football"/>足球
        <input type="checkbox" v-model="basketball"/>篮球
        <input type="checkbox" v-model="valleyball"/>排球
        <p>{{computed_list}}</p>
        <input type="checkbox" :value="checklist" v-model="checklist"/>足球
        <input type="checkbox" value="篮球" v-model="checklist"/>篮球
        <!-- <input type="checkbox" value="篮球" v-model="checklist"/>篮球 -->
        <input type="checkbox" value="排球" v-model="checklist"/>排球
        <p>{{checklist}}</p>
    </div>

</body>

<script>
    Vue.createApp({

        data () {
            return {
                checklist: [],
                football: false,
                basketball: false,
                valleyball: false
            }
        },
        computed: {
            computed_list () {
                return [this.football, this.basketball, this.valleyball].filter((i) => {return i});
            }
        },
        methods: {
            
        }
    }).mount('#app');
</script>

</html>