<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<style>
    .block {
        border: solid;
        border-color: black;
        width: 20px;
        height: 20px;
    }
</style>

<body>
    <div id="app" ></div>
    <template id="my_temp">

        <input @input="changeSize(parseInt($event.target.value))"> size 
        <br/>
        <div style="height: 23px" v-for="row in canvas">
            <div :style="{display:'inline-block', backgroundColor: item ? 'black' : 'white'}" class="block" v-for="item in row"></div>
        </div>

    </template>
</body>



<script>
    const App = Vue.createApp({
        template: '#my_temp',

        data() {
            return {
                canvas: undefined,
                tempX: undefined,
                tempY: undefined,
                direction: 'right'
            }
        },

        methods: {
            setTempAddr(bit) {
                this.canvas[this.tempY][this.tempX] = bit
            },

            changeSize(size) {
                if (!size) { 
                    this.canvas = undefined
                    return 
                }

                let canvas = []
                for (let i = 0; i < size; i++) {
                    canvas.push([])
                    for (let j = 0; j < size; j++) {
                        canvas[i].push(0)
                    }
                }

                this.canvas = canvas
                this.tempX = this.tempY = 0
                this.setTempAddr(1)
            },

            move(event) {
                if (this.canvas == undefined) return

                this.setTempAddr(0)

                if (event.key == 'ArrowLeft') {
                    this.tempX -= 1
                }
                else if (event.key == 'ArrowRight') {
                    this.tempX += 1
                }

                if (event.key == 'ArrowUp') {
                    this.tempY -= 1
                }
                else if (event.key == 'ArrowDown') {
                    this.tempY += 1
                }

                if (this.tempX < 0) {
                    this.tempX = 0
                }
                else if (this.tempX >= this.canvas.length) {
                    this.tempX = this.canvas.length - 1
                }
                if (this.tempY < 0) {
                    this.tempY = 0
                }
                else if (this.tempY >= this.canvas.length) {
                    this.tempY = this.canvas.length - 1
                }

                this.setTempAddr(1)
            }
        },

        // 想同时监听data里两个值，任意一个变化了就执行一个依赖两个值的函数，直接在data里建一个引用类型不行，因为每次获取的都是同一个地址，watch的new和old全都是new
        // 用一个计算属性，返回包含这两个值的引用类型就可以了，因为每次获取都是新建的引用类型的地址，watch里的new和old就没问题
        // 那好像还不如两个值分别写两个watch啊，那样可读性高多了
        
        mounted() {
            document.addEventListener('keydown', this.move)
        }
    }).mount('#app');
</script>

</html>