<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app" style="text-align: center">
        <h1>欢迎您: {{title}}</h1>
        <div v-if="!login">账号 <input type="text" v-model="name"></div>
        <div v-if="!login">密码 <input type="text" v-model="password"></div>
        <button @click="click" style="margin-top:20px">{{button_text}}</button>
    </div>

</body>

<script>
    Vue.createApp({

        data () {
            return {
                login: false,
                title: '未登录',
                name: '',
                password: '',
                button_text: '登录',
            }
        },

        methods: {
            click() {
                if (this.login) {
                    this.title = '未登录'
                    this.button_text = '登录'
                    this.login = false
                }
                else {
                    let text = ''
                    if (!this.name) {
                        text += '用户名'
                    }
                    if (!this.password) {
                        text += ((text? '和':'') + '密码')
                    }
                    if (text) {
                        alert(`请输入${text}`)
                    }
                    else {
                        this.title = this.name
                        this.login = true
                        this.button_text = '退出'
                    }
                }
            }
        }
    }).mount('#app');
</script>

</html>