<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app">
        <h1 v-if="show">Title</h1>
        <p v-else>如果不是标题就显示段落</p>
        <button @click="show = !show">change</button>
        <!--这里写不写this都可以 -->
        <br />
        <input type="text" placeholder="分数" v-model="mark">
        <h1 v-if="mark == 100">满分</h1>
        <h1 v-else-if="mark >= 60">及格</h1>
        <template v-else>
            <p>不及格</p>
            <p>不及格</p>
            <p>不及格</p>
        </template>
    </div>
</body>

<script>
    Vue.createApp({

        data() {
            return {
                show: true,
                mark: 0,
            }
        },

        methods: {

        }
    }).mount('#app');
</script>

</html>